.new-task {
  /* opacity: 0; */
  transition: opacity .2s;
  --border-radius: 4px;
}
.new-task:focus-within, .new-task:hover {
  opacity: 1;
}

.new-task textarea {
  padding: 0;
  font-size: 20px;
  background: white;
  border: none;
  width: 100%;
  appearance: none;
  resize: none;
  padding: .25em;
  transition: all .2s;
  color: black;
}
.new-task:focus-within textarea {
  background: white;
  color: black;
}

.new-task input {
  position: fixed;
  left: -100vw;
}

.new-task label, .new-task button {
  color: white;
  display: inline-block;
  margin: .5em 0;
  padding: .3em;
  border: 1px solid white;
  cursor: pointer;
  background: transparent;
  position: relative; /* ¯\_(ツ)_/¯ removes weird artefact caused by marker of next element */
}
.new-task label:hover, .new-task input:checked + label {
  color: currentColor;
  background: white;
}
.new-task .schedules li:first-child label {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.new-task .schedules li:last-child label {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.new-task button {
  border-radius: var(--border-radius)
}

.new-task .schedules {
  display: flex;
  padding: 0;
}
.new-task .schedules li {
  margin: 0;
  padding: 0;
}

.new-task .button-bar {
  display: flex;
  justify-content: space-between;
}
