.task {
  color: #222;
  font-size: 20px;
  position: relative;
  padding: .5em 96px;
  padding-left: .5em;
  border-bottom: 1px solid #000
}

.task label, .task input[type="text"] {
  display: flex;
  align-items: center;
  gap: .33em;
  cursor: pointer;
  border: none;
  font-size: inherit;
  width: 100%;
  color: hsl(22, 13%, 87%);
}

.task input[type="text"] {
  color: #333;
  padding: .25em;
}

.task .buttons, .task .move-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.task button.edit {
  right: 35px;
}
.move-buttons button {
  width: auto;
}

.task button svg {
  stroke: black;
  stroke-width: 10px;
  opacity: .4;
  transition: opacity .3s;
}

.task button:hover svg {
  opacity: 1;
}

.task input[type='checkbox'] {
  position: fixed;
  top: -100vh;
  left: -100vw;
}
.task input:checked + label {
  text-decoration: line-through;
  color: #888;
}

.task.daily {
  background: hsla(0 50% 50% / .1);
}
.task.weekly {
  background: hsla(150 50% 50% / .1);
}
.task.twice_weekly {
  background: hsla(80 50% 50% / .1);
}