.task {
  color: #222;
  font-size: 20px;
  margin: .25em 0;
  position: relative;
}

.task label, .task input[type="text"] {
  display: flex;
  align-items: center;
  gap: .33em;
  cursor: pointer;
  padding-right: 45px;
  border: none;
  font-size: inherit;
  width: 100%;
  color: hsl(22, 13%, 87%);
}

.task .buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.task button {
  --side: 20px;
  box-sizing: content-box;
  border: none;
  cursor: pointer;
  width: var(--side);
  height: var(--side);
  background: transparent;
  padding: 7px;
}
.task button.edit {
  right: 35px;
}

.task button svg {
  stroke: black;
  stroke-width: 10px;
  opacity: .4;
  transition: opacity .3s;
}

.task button:hover svg {
  opacity: 1;
}

.task input[type='checkbox'] {
  position: fixed;
  top: -100vh;
  left: -100vw;
}
.task input:checked + label {
  text-decoration: line-through;
  color: #888;
}