.task {
  color: #222;
  font-size: 30px;
  margin: .25em 0;
  position: relative;
}

.task label, .task input[type="text"] {
  display: flex;
  align-items: center;
  gap: .33em;
  cursor: pointer;
  background: hsl(224, 63%, 75%);
  padding: 1em;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 4px #222;
  border: none;
  font-size: 24px;
  width: 100%;
}

.task button {
  --side: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 7px;
  right: 7px;
  border: none;
  cursor: pointer;
  width: var(--side);
  height: var(--side);
  background: transparent;
  padding: 7px;
}
.task button.edit {
  right: 35px;
}

.task button svg {
  stroke: black;
  stroke-width: 10px;
  opacity: .4;
  transition: opacity .3s;
}

.task button:hover svg {
  opacity: 1;
}

.task input[type='checkbox'] {
  position: fixed;
  top: -100vh;
  left: -100vw;
}
.task input:checked + label {
  text-decoration: line-through;
  background: hsl(224, 13%, 75%);
  color: #888;
}